--find-links https://download.pytorch.org/whl/cu102/torch_stable.html
torch==1.10.1+cu102,
optuna==3.2.0
lightning==1.8
numpy
matplotlib
jupyterlab
pandas
scikit-learn
git+https://github.com/FlowModelingControl/flowtorch.git@aweiner